@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}
.btn-primary {
    @apply bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded inline-flex items-center;
}

.btn-secondary {
    @apply bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded inline-flex items-center justify-center;
}

.animate-bounce-in {
    animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}